<html lang="en" data-theme="light">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Votero</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
  <link rel="stylesheet" href="./css/elections.css" />
</head>

<body>
  <main class="container">
    <div class="topmenu">
      <nav aria-label="breadcrumb">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/elections"> elections </a></li>
        </ul>
      </nav>
    </div>
    <div class="logout">
      <a href="/signout" class="signout">SignOut</a>
    </div>

    <%- include('header.ejs') %>
    <div>
      <div class="container">
        <h3>Elections</h3>
        <ul>
          <% for (let i=0; i < data.length;i++){%>
          <li>
            <a href="/elections/<%= data[i].id %>" onclick="redirectToElectionPage(<%= data[i].id%>)" role="button">
              <%= data[i].name %>
            </a>
          </li>
          <% } %>
        </ul>
      </div>
      <div>
        <form action="/elections" method="post">
          <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
          <input type="text" placeholder="Add new election" name="name" />
          <button type="submit" class="secondary">Create</button>
        </form>
      </div>
    </div>
  </main>
</body>

</html>