<html lang="en" data-theme="light">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="csrf-token" content="<%= csrfToken %>" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Votero</title>
  <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css" />
  <link rel="stylesheet" href="./public/css/elections.css" />
  <script>
    var token = document
      .querySelector('meta[name="csrf-token"]')
      .getAttribute("content");

    function endElection(id) {
      fetch(`/elections/${id}/end`, {
          method: "put",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
        .then((res) => {
          if (res.ok) {
            window.open(`/elections/${id}/results`, "_blank");
            window.location.reload();
          }
        })
        .catch((err) => console.log(err));
    }

    function setCustomPath(id) {
      customPath = document.getElementById("customPath").value;
      console.log(customPath);
      fetch(`/elections/${id}/setCustomPath`, {
          method: "put",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
            customPath,
          }),
        })
        .then((res) => {
          if (res.ok) {
            window.location.reload();
          }
        })
        .catch((err) => console.log(err));
    }

    function deleteElection(id) {
      fetch(`/elections/${id}`, {
          method: "delete",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({
            _csrf: token,
          }),
        })
        .then((res) => {
          if (res.ok) {
            window.location.replace("/elections");
          }
        })
        .catch((err) => console.log(err));
    }
  </script>
</head>

<body>
  <main class="container">
    <div class="topmenu">
      <nav aria-label="breadcrumb">
        <ul>
          <li><a href="/">home</a></li>
          <li><a href="/elections"> elections </a></li>
          <li>
            <a href="/elections/<%=id%>">
              <%=election.name%>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="logout">
      <a href="/signout" class="signout">SignOut</a>
    </div>
    <%- include('header.ejs') %>
    <div class="container">
      <h3> <mark><%=electionName%></mark></h3>
      <h4>
        There are <span>
          <%=quesCount%>
        </span> question/s in this election
      </h4>
      <% if (! onGoingStatus){%>
      <a href="/elections/<%=id%>/questions"><button>Manage question</button></a>
      <%}else{%>
      <h4>Election URL at:</h4>

      <% if(election.customPath){ %>
      <a id="vote" href="/<%= election.customPath %>" target="_blank">/<%=
                                    election.customPath %></a>
      <% }else{ %>
      <a id="vote" href="/elections/<%=id%>/vote" target="_blank">/elections/
        <%=id%>/vote</a>
      <% } %>
      <div>
        <input type="text" placeholder="Assign a custom path" id="customPath" />
        <button onclick="setCustomPath(<%=id%>)">Assign</button>
      </div>
      <%}%>
        <h4>There are <span>
         <%=voterCount%>
      </span>voters assigned for this election
      </h4>
      <a href="/elections/<%=id%>/voters"><button>Manage voters</button></a>
      <div class="buttons">
        <%if(!onGoingStatus){%>
        <a href="/elections/<%=id%>/electionPreview"><button>Preview
            Election</button></a>

        <%}else{%>
        <button onclick="endElection(<%=id%>)">End Election</button>
        <%}%><button onclick="deleteElection(<%=id%>)">
        Delete
        </button>
        <%if(onGoingStatus){%>
        <a href="/elections/<%=id%>/results" target="_blank" role="button">Results</a>
        <%}%>
        </div>
        <script>
          const vote = document.getElementById("vote");
          vote.innerText = window.location.origin + vote.innerText;
        </script>
            </div>
    </main>
    <script>
        const customUrl = document.getElementsByClassName("customUrl")[0];
        document
            .querySelector(".customUrl span")
            .addEventListener("click", () => {
                customUrl.classList.toggle("active");
            });
    </script>
</body>

</html>